{% extends "base.html" %}
{% block title %} Admin panel {% endblock %}

{% block content %}
<div style="display: flex; margin-bottom: 200px;">
<div class="col-11 col-lg-4">
    <li>
        <a class="nav-link" href="/admin_panel"> <h4>Profile</h4> </a>
    </li>
    <br>
    <li>
        <a class="nav-link" href="/category/Literature/add-course"> <h4>Add article</h4> </a>
    </li>
    <br>
    <li>
        <a class="nav-link" href="/users"><h4>Users</h4></a>
    </li>
    <br>
    <li>
        <a class="nav-link" href="/feedbacks"><h4>Feedbacks</h4></a>
    </li>
</div>
<div class="col-11 col-lg-6">
    <img src="/static/images/{{ user['profile_pic'] }}" style="width: 200px; height: 200px;"   alt="profile picture">
    <h5>Username:   {{user.username}}</h5>
    <h5>Role:     {{user.role}}</h5>

</div>
</div>
{% endblock %}