{% extends "base.html" %}
{% block title %} Feedbacks {% endblock %}

{% block content %}
<div style="display: flex; margin-bottom: 200px;">
<div class="col-11 col-lg-4">
    <li>
        <a class="nav-link" href="/admin_panel"> <h4>Profile</h4> </a>
    </li>
    <br>
    <li>
        <a class="nav-link" href="/category/admin/add-course"> <h4>Add article</h4> </a>
    </li>
    <br>
    <li>
        <a class="nav-link" href="/users"><h4>Users</h4></a>
    </li>
    <br>
    <li>
        <a class="nav-link" href="/feedbacks"><h4>Feedbacks</h4></a>
    </li>
</div>
<div class="col-11 col-lg-6">
    <div style="display: flex; flex-wrap: wrap; gap: 5px; justify-content: space-evenly;">
    {% for feedback in feedbacks %}
    <div class="card text-bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">User ID: {{feedback.user_id}}</div>
        <div class="card-body">
            <h5 class="card-title">{{feedback.headline}}</h5>
            <p class="card-text">{{feedback.message}}</p>
        </div>
    </div>
    {% endfor %}
    </div>
    </div>
</div>
{% endblock %}