{% extends "base.html" %}
{% block content %}
<div style="display: flex; margin-bottom: 200px;">
<div class="col-11 col-lg-4">
    <li>
        <a class="nav-link" href="/admin_panel"> <h4>Profile</h4> </a>
    </li>
    <br>
    <li>
        <a class="nav-link" href="/category/{{category_name}}/add-course"> <h4>Add course</h4> </a>
    </li>
    <br>
    <li>
        <a class="nav-link" href="/users"><h4>Users</h4></a>
    </li>
    <br>
    <li>
        <a class="nav-link" href="/feedbacks"><h4>Feedbacks</h4></a>
    </li>
</div>
<div class="col-11 col-lg-6">
</div>
</div>
{% endblock %}