.custom-carousel {
  margin: 2%;
  position: relative;
  z-index: 2;
}

.custom-carousel .carousel-inner img {
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.logo{
  width: 200px !important;
  height: 200px;
}

.center{
  display: flex;
  justify-content: center !important;
}

.list{
  display: flex;
  gap: 20px;
  margin: 10px;
}

.info{
  display: flex;
  gap: 5%;
  flex-wrap: wrap;
  h6{
    max-width: 500px;
  }
}

li{
  list-style-type: none;
}

.footer{
  margin-top: 100px;
  border-top: 2px solid #050303;
  background-color: #000000a3;
  width: 100%;
  height: 100px;
}

.card-img-top{
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 30% 100%;
}