{% extends "base.html" %}

{% block title %} Add article {% endblock %}
{% block content %}
    <div class="row center" style="justify-content: center;">
    <form class="col-lg-5" method="post" enctype="multipart/form-data" style="width: 80%;">
      {% for errors in form.errors.values() %}
        {% for error in errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        {% endfor %}
      {% endfor %}
      {{ form.hidden_tag() }}
      <div class="mb-3 row">
          {{ form.heading(class="form-control", placeholder=form.heading.label.text) }}
        </div>
      <div class="mb-3 row">
          {{ form.category(class="form-control") }}
        </div>
      <div class="mb-3 row">
        {{ form.image.label }}
        {{ form.image(class="form-control") }}
        </div>
        <div class="mb-3 row">
          {{ form.description(class="form-control", placeholder=form.description.label.text) }}
        </div>
        <div class="mb-3 row">
          {{ form.summary(class="form-control", placeholder=form.summary.label.text, rows=3) }}
        </div>
        <div class="mb-3 row">
          {{ form.subheading1(class="form-control", placeholder=form.subheading1.label.text) }}
        </div>
      <div class="mb-3 row">
          {{ form.text1(class="form-control", placeholder=form.text1.label.text, rows=4) }}
        </div>
        <div class="mb-3 row">
          {{ form.subheading2(class="form-control", placeholder=form.subheading2.label.text) }}
        </div>
      <div class="mb-3 row">
          {{ form.text2(class="form-control", placeholder=form.text2.label.text, rows=4) }}
        </div>
        <div class="mb-3 row">
          {{ form.subheading3(class="form-control", placeholder=form.subheading3.label.text) }}
        </div>
      <div class="mb-3 row">
          {{ form.text3(class="form-control", placeholder=form.text3.label.text, rows=4) }}
        </div>
        <div class="mb-3 row">
          {{ form.subheading4(class="form-control", placeholder=form.subheading4.label.text) }}
        </div>
      <div class="mb-3 row">
          {{ form.text4(class="form-control", placeholder=form.text4.label.text, rows=4) }}
        </div>
        <div class="mb-3 row">
          {{ form.subheading5(class="form-control", placeholder=form.subheading5.label.text) }}
        </div>
      <div class="mb-3 row">
          {{ form.text5(class="form-control", placeholder=form.text5.label.text, rows=4) }}
        </div>
      <div class="mb-3 row">
          {{ form.upload_button(class="btn btn-success", placeholder=form.upload_button.label.text) }}
        </div>
      </form>
    </div>

{% endblock %}