{% extends "base.html "%}

{% block content %}
<h1> {{ article['heading'] }} </h1>
<h5> {{ article['summary'] }}</h5>
<h2> {{ article['Subheading1']}}</h2>
<h6> {{ article['text1'] }}</h6>
<h2> {{ article['Subheading2']}}</h2>
<h6> {{ article['text2'] }}</h6>
<h2> {{ article['Subheading3']}}</h2>
<h6> {{ article['text3'] }}</h6>
<h2> {{ article['Subheading4']}}</h2>
<h6> {{ article['text4'] }}</h6>
<h2> {{ article['Subheading5']}}</h2>
<h6> {{ article['text5'] }}</h6>

{% endblock %}