<footer>
    <div class="footer">
        <div>
                <h3>Pages</h3>
                <a href="/" >Home</a>
                <a href="/category" >Explore courses</a>
                <a href="/feedback" >Contact</a>
            </div>
            <div>
                <h3>Contact Info:</h3>
                <p>Phone number: 579 85 33 22</p>
                <p>Email: mari.khopheria@gmail.com</p>
            </div>
            <a href="https://www.tbceducation.ge/" target="_blank">
                <img style="height: 100px; width:100px;"src="{{ url_for('static', filename='images/tbc.png') }}" alt="tbc" />
            </a>
            <div>
                <h3>About us</h3>
                <p>A website with articles, creative content, course materials, and more!</p>
            </div>


    </div>

</footer>